absl-py==1.4.0
accelerate==0.33.0
aiofiles==0.6.0
aiohttp==3.9.1
aiosignal==1.3.1
alembic==1.11.1
altair==5.0.1
annotated-types==0.5.0
annoy==1.17.3
anyio==3.7.0
appdirs==1.4.4
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
array-record==0.4.0
arrow==1.2.3
arxiv==2.1.0
asttokens==2.2.1
astunparse==1.6.3
async-lru==2.0.2
async-timeout==4.0.2
attrs==23.1.0
auto-sklearn==0.15.0
autokeras==1.1.0
Babel==2.12.1
backcall==0.2.0
beautifulsoup4==4.12.3
bertviz==1.4.0
bleach==6.0.0
blinker==1.6.2
blobfile==2.0.2
boto3==1.34.49
botocore==1.34.49
cachetools==5.3.1
certifi==2023.5.7
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.1.0
cifti==1.1
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.2.1
cmaes==0.9.1
colorama==0.4.6
colorlog==6.7.0
colour==0.1.5
comm==0.1.3
ConfigSpace==0.4.21
contourpy==1.0.7
correlation==1.0.0
csrgraph==0.1.28
cssselect2==0.7.0
cycler==0.11.0
Cython==0.29.35
DALL-E==0.1
dask==2023.5.1
dataclasses-json==0.5.14
DataProperty==1.0.1
datasets==2.18.0
deap==1.3.3
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.6
dirtyjson==1.0.8
distributed==2023.5.1
distro==1.8.0
dm-tree==0.1.8
docker-pycreds==0.4.0
duckduckgo_search==6.1.5
einops==0.8.0
einops-exts==0.0.4
emcee==3.1.4
empiricaldist==0.7.2
etils==1.3.0
evaluate==0.4.1
exceptiongroup==1.1.1
executing==1.2.0
fastcore==1.5.29
fastjsonschema==2.17.1
feedparser==6.0.10
filelock==3.12.0
fiona==1.9.6
Flask==3.0.3
flatbuffers==23.5.26
fonttools==4.39.4
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2023.5.0
ftfy==6.1.3
gast==0.4.0
geopandas==0.14.3
gitdb==4.0.10
GitPython==3.1.31
google-auth==2.19.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.59.1
greenlet==3.0.3
grpcio==1.49.1
h11==0.14.0
h5py==3.8.0
html2image==2.0.4.3
httpcore==1.0.2
httpx==0.26.0
huggingface-hub==0.25.2
idna==3.4
imageio==2.31.1
importlib-metadata==6.6.0
importlib-resources==6.0.0
iniconfig==2.0.0
ipykernel==6.23.1
ipython==8.13.2
ipython-genutils==0.2.0
ipywidgets==8.0.6
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.18.2
Jinja2==3.1.2
jiter==0.5.0
jmespath==1.0.1
joblib==1.2.0
json5==0.9.14
jsonlines==4.0.0
jsonpatch==1.33
jsonpickle==3.3.0
jsonpointer==2.3
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.6.3
jupyter-lsp==2.1.0
jupyter_client==8.2.0
jupyter_core==5.3.0
jupyter_server==2.6.0
jupyter_server_terminals==0.4.4
jupyterlab==4.0.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.7
jupyterlab_server==2.22.1
keras==2.11.0
keras-nlp==0.5.2
keras-tuner==1.3.5
kiwisolver==1.4.4
kt-legacy==1.0.5
langchain==0.2.3
langchain-community==0.2.4
langchain-core==0.2.5
langchain-experimental==0.0.60
langchain-openai==0.1.8
langchain-text-splitters==0.2.1
langchainhub==0.1.18
langcodes==3.3.0
langsmith==0.1.75
lazy_loader==0.2
Levenshtein==0.25.1
liac-arff==2.5.0
libclang==16.0.0
llama-cloud==0.0.10
llama-index==0.10.65
llama-index-agent-openai==0.2.9
llama-index-cli==0.1.13
llama-index-core==0.10.66
llama-index-embeddings-openai==0.1.11
llama-index-indices-managed-llama-cloud==0.2.5
llama-index-legacy==0.9.48
llama-index-llms-openai==0.1.27
llama-index-multi-modal-llms-openai==0.1.8
llama-index-program-openai==0.1.7
llama-index-question-gen-openai==0.1.3
llama-index-readers-file==0.1.30
llama-index-readers-llama-parse==0.1.6
llama-parse==0.4.9
llvmlite==0.40.1rc1
lm_eval @ file:///Users/eleanorspens/Documents/PhD%20Code/babylm/evaluation-pipeline-2024
locate==1.1.1
locket==1.0.0
lorem-text==2.1
lxml==4.9.2
Mako==1.2.4
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.20.1
matplotlib==3.7.1
matplotlib-inline==0.1.6
mbstrdecoder==1.1.3
mdurl==0.1.2
minicons==0.2.45
mistune==2.0.5
more-itertools==10.3.0
mpmath==1.3.0
msgpack==1.0.7
multidict==6.0.4
multiprocess==0.70.14
mypy==1.4.0
mypy-extensions==1.0.0
nbclassic==1.0.0
nbclient==0.8.0
nbconvert==7.4.0
nbformat==5.8.0
nest-asyncio==1.5.8
networkx==3.3
nibabel==5.1.0
nilearn==0.10.1
nltk==3.8.1
notebook==6.5.4
notebook_shim==0.2.3
numba==0.57.0
numexpr==2.8.7
numpy==1.24.0
oauthlib==3.2.2
octa==1.0.1
openai==1.51.2
opencv-python==4.7.0.72
opt-einsum==3.3.0
optuna==3.1.1
orjson==3.10.3
otree==5.10.4
overrides==7.3.1
packaging==23.2
Panda3D==1.10.14
pandas==2.2.0
pandocfilters==1.5.0
parso==0.8.3
partd==1.4.0
pathtools==0.1.2
pathvalidate==3.2.0
patsy==0.5.6
peft==0.12.0
perplexed==0.0.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
platformdirs==3.5.1
pluggy==1.2.0
portalocker==2.10.1
prometheus-client==0.17.0
promise==2.3
prompt-toolkit==3.0.38
protobuf==3.20.3
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==12.0.0
pyarrow-hotfix==0.6
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybind11==2.13.1
pycocotools==2.0.8
pycparser==2.21
pycryptodomex==3.18.0
pydantic==2.4.2
pydantic_core==2.10.1
pydeck==0.8.1b0
pygame==2.5.2
pygbag==0.9.1
Pygments==2.15.1
Pympler==1.0.1
PyMuPDF==1.23.19
PyMuPDFb==1.23.9
pynisher==0.6.4
pynndescent==0.5.10
pynput==1.7.7
pyobjc-core==10.3
pyobjc-framework-ApplicationServices==10.3
pyobjc-framework-Cocoa==10.3
pyobjc-framework-CoreText==10.3
pyobjc-framework-Quartz==10.3
pyogrio==0.7.2
pyparsing==3.0.9
pypdf==4.3.1
pyproj==3.6.1
pyreqwest_impersonate==0.4.7
pyrfr==0.8.3
pyrsistent==0.19.3
pytablewriter==1.2.0
pytest==7.3.2
python-dateutil==2.8.2
python-json-logger==2.0.7
python-Levenshtein==0.25.1
python-multipart==0.0.5
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.4.1
PyYAML==6.0.1
pyzmq==25.1.0
qtconsole==5.4.3
QtPy==2.3.1
rapidfuzz==3.9.3
regex==2023.12.25
reportlab==4.2.2
requests==2.31.0
requests-oauthlib==1.3.1
responses==0.18.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.4.2
rouge-score==0.1.2
rsa==4.9
s3transfer==0.10.0
sacrebleu==2.4.2
safetensors==0.4.3
scikeras==0.11.0
scikit-image==0.21.0
scikit-learn==1.3.0
scipy==1.11.3
seaborn==0.13.0
Send2Trash==1.8.2
sentence-transformers==3.2.0
sentencepiece==0.1.99
sentry-sdk==1.25.1
seqeval==1.2.2
setproctitle==1.3.2
sgmllib3k==1.0.0
shapely==2.0.4
simpletransformers==0.70.1
six==1.16.0
smac==1.2
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4.1
SQLAlchemy==2.0.31
sqlitedict==2.1.0
stack-data==0.6.2
starlette==0.14.1
statsmodels==0.14.4
stopit==1.1.2
streamlit==1.23.1
striprtf==0.0.26
svglib==1.5.1
svgpath2mpl==1.0.0
svgpathtools==1.6.1
svgutils==0.3.4
svgwrite==1.4.3
sympy==1.12
tabledata==1.3.3
tabulate==0.9.0
tblib==1.7.0
tcolorpy==0.1.6
tenacity==8.5.0
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6.2.2
tensorflow-datasets==4.9.2
tensorflow-estimator==2.11.0
tensorflow-macos==2.11.0
tensorflow-metadata==1.13.1
tensorflow-metal==0.7.0
termcolor==2.3.0
terminado==0.17.1
tfds-nightly==4.9.2.dev202307090045
threadpoolctl==3.1.0
tifffile==2023.4.12
tiktoken==0.7.0
tinycss2==1.2.1
tokenizers==0.19.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==2.0.1
torchvision==0.15.2
tornado==6.3.2
TPOT==0.12.0
tqdm==4.66.4
tqdm-multiprocess==0.0.11
traitlets==5.9.0
transformers==4.43.3
typepy==1.3.2
types-requests==2.32.0.20240602
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2023.3
tzlocal==4.3
umap-learn==0.5.3
update-checker==0.18.0
uri-template==1.2.0
urllib3==1.26.19
uvicorn==0.13.4
validators==0.20.0
wandb==0.15.4
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.5.2
websockets==10.1
Werkzeug==3.0.3
widgetsnbextension==4.0.7
wonderwords==2.2.0
word2number==1.1
wordcloud==1.9.3
wordfreq==3.1.1
wrapt==1.15.0
WTForms==2.3.3
WTForms-SQLAlchemy==0.2
xgboost==1.7.5
xxhash==3.2.0
yarl==1.9.2
zict==3.0.0
zipp==3.15.0
zstandard==0.23.0
